body {
    margin: 0;
    background-color: #eee;
}

.header {
    color: #eee;
    background-color: darkcyan;
    text-align: center;
    padding: 1em;
    margin: 0;
}

.input-form {
    width: 900px;
    margin: 0 auto;
}

.input-form-header {
    margin-top: 30px;
    margin-bottom: 10px;
}

.input-form-inputs {
    display: flex;
    justify-content: space-between;
}

.input-form-submit-button {
    float: right;
    margin-top: 10px;
    width: 100px;
    border-radius: 5px;
    height: 25px;
}

.output-container {
    width: 900px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: darkcyan;
    color: #eee;
    padding: 10px 0px;
}

th,
td {
    text-align: left;
}

.salary-cell {
    text-align: right;
    width: 10%;
}

.delete-button-cell {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ddd;
}

.output-total-monthly {
    float: right;
    margin: 10px;
}

.red-background {
    background-color: red;
}

.input-total-monthly {
    display: block;
    margin: 10px 0px 10px auto;
}